header{
    background-color: #1e1e1e;
    padding: 10px;
    text-align: center;
}

h1{
    color: #2ecc71;
    font-family: 'Arial', sans-serif;
}

body{
    background-color: #121212;
    color: #b3b3b3;
}

nav{
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 5px;
    text-align: left;
    
}

main{
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

footer{
    background-color: #1e1e1e;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}