/* Estilos para la página de Despensa Click */
header{
    background-color: #1e1e1e;
    padding: 10px;
    text-align: center;
}

h1{
    color: #2ecc71;
    font-family: 'Arial', sans-serif;
}

body{
    background-color: #121212;
    color: #b3b3b3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container{
    display: flex;
}

/* Estilo del Sidebar */
.sidebar{
    width: 260px;
    height:100vh;
    background-color: #0d2706;
    color: white;
    position: fixed; /* Fija el sidebar para que no se mueva al hacer scroll */
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo-section h2{
    text-align: center;
    margin-bottom: 30px;
    color: #27ae60;
}

.logo-section span{
    color: white;
}

.menu a{
    display: block;
    color: #bdc3c7;
    text-decoration: none;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 5px;
    transition: 0.3s ease;
}

.menu a:hover, .menu a.active{
    background-color: #34495e;
    color: white;
    padding-left: 25px;
}

.content-area{
    margin-left: 260px; /* Deja espacio para el sidebar */
    padding: 40px;
    width: 100%;
    background-color: #f4f7f6;
    min-height: 100vh;
}
nav{
    background-color: #0c3302;
    color: #ffffff;
    padding: 5px;
    text-align: left;
    
}

/* Contenedor de la tabla para darle fondo y sombra */
.table-container{
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Encabezado de la tabla */
.table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-add{
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn-add:hover{
    background-color: #219150;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead{
    background-color: #f8f9fa;
    color: #7f8c8d;
    text-transform: uppercase;
    font-size: 0.85rem;
}

th, td{
    padding: 15px;
    border-bottom: 1px solid #eee;
}

/* Efecto al pasar el mouse sobre la fila */
tbody tr:hover{
    background-color: #f9f9f9;
}

.edit-btn, .delete-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    margin-right: 5px;
    padding: 5px;
    border-radius: 4px;
    transition: 0.2s;
}

.edit-btn:hover { background-color: #e8f4fd; }
.delete-btn:hover { background-color: #fde8e8; }


main{
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

/* Estilos para el pie de página */
footer {
    background-color: #1e1e1e;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 30px; /* se pone respecto a la tabla */
    border-radius: 8px; 
}